.requestForm{
    direction: rtl;
}
 button {
    font-family: inherit;
    /* font-size: inherit; */
    line-height: inherit;
    /* margin: 10px; */
    margin-right: 55px;
    height: 40px;
    width: 80px;
    /* border: crimson; */
    background-position-y: center;
    background-color: rgb(217, 48, 96);
}
input{
    text-align: center;
}

