

<div class="about"> 
<div class="title">
    כל אחד יכול לבחור באיזו קופת חולים הוא מעוניין להיות מבוטח. כיוון שיש 4 קופות חולים שמציעות מסלולים שונים – ערכנו עבורכם השוואת מסלולים בין שלל הקופות.
</div>
   חוק ביטוח בריאות ממלכתי שנחקק ב-1994 קובע כי כל תושב בישראל זכאי לביטוח בריאות בסיסי. בישראל פועלות 4 קופות חולים: כללית, מכבי, מאוחדת ולאומית. כל מבוטח יכול לבחור באיזו קופה להירשם, כאשר המעבר בין הקופות חולים פשוט יחסית. קופות החולים מספקות שירותי בריאות בסיסיים, ובנוסף מציעים שירותי בריאות נוספים (שב"ן). השב"ן הוא סל שירותים מורחב הכולל טיפולים, בדיקות ושירותים נוספים בעלות מופחתת, ולמעשה מהווה כיסוי מורחב על הביטוח הבסיסי.
  
  קיימים הבדלים בין השירותים שמציעות קופות החולים השונות, וכדי שיהיה לכם קל יותר לבחור קופת חולים, ערכנו עבורכם  השוואה של המסלולים השונים שמציעות הקופות.
 
<h2>
    ביטוח בריאות בסיסי
</h2>
<div>
    ביטוח בריאות בסיסי מסופק על ידי קופות החולים ומשולם דרך תלוש השכר. מי שלא עובד משלם מחיר מינימלי – כ-100 שקלים, וזוכה לביטוח. הביטוח הבסיסי כולל שירותים רפואיים שונים כמו: ביקור אצל רופאי משפחה ורופאים מתמחים בתשלום מסובסד, שירותי רפואה מונעת, טיפולים אמבולטורים, אשפוז בבית חולים, טיפול נפשי ועוד.

    מעבר לביטוח הבריאות הבסיסי, מציעות קופות החולים מסלולים נוספים, שעולים יותר כסף למבוטח, אך מספקים לו שירותים נרחבים יותר.
</div>
<h2>שירותי בריאות כללית</h2>
<div>
    כללית היא הקופה הותיקה והגדולה בישראל, והיא מעניקה שירותים לכ-4.2 מיליון מבוטחים. בנוסף לביטוח הבסיסי מציעה כללית את כללית מושלם בשני מסלולים: כללית מושלם זהב, וכללית מושלם פלטינום.

    כללית מושלם זהב הוא המסלול הבסיסי יותר מבין השניים והוא כולל: ניתוחים בארץ ובחו"ל, התייעצות עם רופאים מומחים, טיפולי שיניים, הנחות ברכישת תרופות, טיפולי רפואה משלימה ועוד. עלות רכישת ביטוח כללית מושלם זהב משתנה בהתאם לגיל המבוטח. עד גיל 18 עולה הביטוח כמה שקלים לחודש, ובגילאי 70 ומעלה הוא עולה יותר מ-70 שקלים לחודש.
    
    כללית מושלם פלטינום הוא ביטוח הבריאות המקיף ביותר שמציעה קופת חולים כללית. מי שיבחר להיות מבוטח דרך מושלם פלטינום יהיה זכאי לכל הכיסויים והשירותים שיש במושלם זהב, ובכיסויים נוספים כמו הנחה על ניתוחים פרטיים, טיפולי שיניים משמרים לילדים ללא עלות, ובגילאים מאוחרים יותר בהנחה ועוד.
</div>
<h2>
    מכבי שירותי בריאות
</h2>
<div>
    מכבי שירותי בריאות היא קופת החולים השנייה בגודלה בישראל, ומספקת שירותי בריאות לכ-20% מהאוכלוסייה. מלבד ביטוח הבריאות הבסיסי מציעה מכבי שני מסלולים: מכבי שלי ומכבי זהב.

    מכבי זהב כולל שירותים שונים שלא נכללים בביטוח הבסיסי, כמו עלות מופחתת בניתוחים פרטיים, פינוי באמבולנס ללא עלות (פעמיים בשנה), התייעצות עם רופאים מומחים בארץ בעלות מופחתת, השתתפות והנחות בטיפולי הפריה לילד ראשון ושני, רפואת ספורט ועוד. עלות הביטוח גבוהה יותר משל כללית מושלם זהב, כאשר עד גיל 17 משלמים כ-20 שקל, ובגילאי 70 פלוס כ-100 שקל.
    
    מכבי שלי הוא הביטוח המורחב של מכבי שירותי בריאות והוא כולל את כל ההטבות במכבי זהב ועוד תוספות שונות כמו דמי השתתפות נמוכים יותר בניתוחים פרטיים, הנחות על משקפי ראייה ואביזרי ראייה והשתתפות הקופה בניתוחי לייזר להסרת משקפיים, ניתוחים אסתטיים בהשתתפות עצמית נמוכה ועוד.
</div>
<h2>
    קופת חולים מאוחדת
</h2>
<div>
    מאוחדת זו הקופה השלישית בגודלה, והיא מספקת שירותים לכעשרה אחוזים מתושבי ישראל. מעבר לביטוח הבסיסי מציעה קופת חולים מאוחדת שני ביטוחי בריאות נוספים: מאוחדת עדיף ומאוחדת שיא.

    מאוחדת עדיף כולל שירותים שונים שלא נכללים בביטוח הבסיסי כמו סיוע ומימון טיפולים רפואיים מצילי חיים, חוות דעת נוספת מרופא מומחה, הנחות ברכישת אביזרים רפואיים, בדיקות גנטיות לקראת הריון, טיפולי שיניים בהנחות ניכרות ועוד. עלות הביטוח דומה לשל מכבי, אולם ההבדל העקרי שבגילאים מוקדמים משלמים יותר – מתחת לגיל 24 משלמים כמעט 40 שקל לחודש. יחד עם זאת, מאוחדת מציעה מסלולים משתלמים למשפחות: ילד רביעי ללא עלות, ומחיר אחיד למשפחה: 101 ש"ח לחודש.
    
    מאוחדת שיא הוא המסלול המורחב של קופת חולים מאוחדת, והוא כולל את השירותים הניתנים במסגרת מאוחדת עדיף ועוד שירותים נוספים. בין השאר נהנים מבוטחי מאוחדת שיא מניתוחים אסתטיים ורפואה  פלסטית, כיסוי נרחב של טיפולי פריון, בדיקות נוספות במהלך ההריון, השתלות שיניים, שירותי ביקור רופא בבית ועוד.
</div>
<h2>
    קופת חולים לאומית
</h2>
<div>
    קופת חולים לאומית נחשבת לרביעית בגודלה בישראל. נוסף על ביטוח הבריאות הבסיסי מציעה הקופה שני מסלולים מורחבים: לאומית כסף ולאומית זהב.

    לאומית כסף כולל שירותים שונים שלא ניתנים בביטוח הבסיסי, כמו אחות פרטית במהלך השיקום, הבראה לאחר ניתוח, התייעצות עם רופא מומחה טרם קבלת טיפולים רפואיים בחו"ל ועוד. עלות ההצטרפות ללאומית כסף נמוך משמעותית מהמסלולים המקבילים בקופות האחרות. עד גיל 18 משלמים פחות מ-8 שקלים לחודש, ובגילאי 70 פלוס משלמים כ-35 שקלים.
    
    לאומית זהב הוא ביטוח הבריאות המורחב של לאומית, והוא מרחיב שירותי הבריאות שמקבלים בלאומית כסף עם שלל טיפולים בהנחות משמעותיות או ללא עלות.
</div>
</div>
