 <div class="hirachi">
   <h2>דירוג כללי של קופות החולים</h2>
    מבין ארבע קופות החולים, קופת חולים מכבי מגיעה למקום הראשון בדירוג הכללי עם דירוג 3.87 וצמודה אליה, קופת חולים לאומית עם 3.85. נראה כי התחושות הכלליות של המשתתפים בדירוג כלפי קופות החולים דומות יחסית, ואף אחת מהן לא מצליחה להתקרב לציון 4, אך גם לא יורדת מציון 3.5, שזה די בינוני.
    <h3>תרשים: ציון כללי לקופות החולים - מידרג קופות החולים</h3>

 <div class="img">
  <img src="assets/imges/General rating of health funds.jpg" height="700px" width="700px" title="ציון כללי במדרג קופות חולים">
 </div>
 <h2>
    זמינות התורים
 </h2>
    כשאנחנו זקוקים לשירותי קופות החולים, אנחנו מחפשים מקום בו יהיה תורים זמינים, המרפאה תהיה במיקום קרוב ונוח, המענה הטלפוני יהיה הולם וכמות הבירוקרטיה פחותה במידת האפשר.

    איך אמר אחד המדרגים "התור לרופא מומחה הוא כמה חודשים קדימה, כך עד שהתור מגיע או שאתה מת, אם לא הלכת למיון, או שאתה מבריא". מציאות עגומה בהחלט. זמינות התורים היא אחת הקטגוריות שתסכלו את המדרגים יותר מכולן, והיא עלתה שוב ושוב בתשובות הפתוחות.
    
    בציונים ניכר פער משמעותי בין קופת חולים כללית לשאר הקופות. הכללית מדורגת בזמינות התורים בציון 2.91 בלבד, ציון נמוך ביותר. שאר הקופות מקבלות ציונים קצת טובים יותר, אבל עדיין נמוכים.  
    <h3>תרשים: דירוג זמינות התורים - מידרג קופות החולים</h3>
    <div class="img">
    <img src="assets/imges/Queue availability.png " height="700px" width="700px" title="זמינות תורים">
  </div>

  <h2>  פריסת המרפאות</h2>
הקופה יכולה להיות מעולה בהרבה פרמטרים, אבל אם המרפאה הקרובה ביותר לבית שלכם היא במרחק של ארבעים דקות נסיעה – לא עשינו כלום.

מכבי וכללית, הקופות הגדולות ביותר מקבלות את הציונים הגבוהים ביותר בפרמטר הזה, באופן לא מפתיע. קופות שאחראיות על 70% מהאוכלוסייה הן בעלות יכולת לפרוס מספר רב של מרפאות ומתפרסות על שטחים גדולים יותר.
<h3>
תרשים: דירוג פריסת המרפאות - מידרג קופות החולים  
</h3>
<div class="img">
    <img src="assets/imges/Deployment of clinics.png " height="700px" width="700px" title="פריסת מרפאות">
  </div>
<h2>מענה טלפוני ובירוקרטיה</h2>
    
    אחחח מי לא אוהב ריח בירוקרטיה על הבוקר. אין מה לעשות, חלק ענק מהטיפול הרפואי דרך הקופות בארץ מלווה בבירוקרטיה לא קטנה בכלל. טופסי 17, מוקד טלפוני, פקסים (שכולנו קיוונו שהם כבר טכנולוגיה מתה), "האישור הזה לא מתאים תחזרו שוב מחר" ואם יש עוד מה להוסיף תסמכו על הקופה שהיא תוסיף עוד שלב.
    
    בפרמטר זה מכבי קיבלה את הציון הגבוה ביותר מחבריה ולאחריה קופת חולים לאומית. אחרונה משתרכת קופת חולים מאוחדת בציון של 3.14 בלבד. אחת המדרגות אמרה כי "כל מה שהייתי צריכה לא אושר למרות שהייתה לי הפניה מרופא, גם לא בדיקות דם שהאנדוקרינולוג ביקש. גם כאשר מוקד הקופה אמרו שיש השתתפות ויהיה החזר עד 80% בסוף לא אושר ההחזר". מדרג מקופת חולים לאומית אמר שהדבר שהכי מפריע לו בקופה הוא "פקס! כל דבר שצריך לשלוח לי מהפקידות או אני אליהן מצריך פקס. אי אפשר לשלוח או לקבל מייל עם מסמכים". כואבים את כאבכם מדרגים אנונימיים.
     
    
    <h3>תרשים: דירוג מענה טלפוני ובירוקרטיה - מידרג קופות החולים</h3>
    <div class="img">
        <img src="assets/imges/Telephone answering and bureaucracy.png " height="700px" width="700px" title="מענה טלפוני">
      </div>
      <h2>איכות הטיפול הרפואי</h2>
      תון מעודד למדי הוא הציון שנתנו המצביעים לאיכות הטיפול הרפואי בשתיים מהקופות, לאומית ומכבי, שקיבלו בפרמטר זה ציון מעל 4 מתוך 5. נראה שאחרי ההמתנה הארוכה לקבלת תור המטופלים מרוצים מהרופאים במפגש עצמו.

      לאחריהן עם ציונים נמוכים יותר נמצאות קופת חולים מאוחדת עם ציון 3.9 וקופת חולים כללית עם הציון הנמוך ביותר – 3.75. אחת מלקוחות הכללית אמרה "אני מרגישה את חוסר הפניות של הרופאים ובשל כך הולכת לרופאים פרטיים, חבל שלא ניתן לבחור ולהתנתק כיוון שאנו משלמים פעמיים".
      
      <h3>תרשים: דירוג הטיפול הרפואי - מידרג קופות החולים</h3>
      <div class="img">
          <img src="assets/imges/The quality of medical care.png " height="700px" width="700px" title="איכות הטיפול הרפואי">    
        </div>
        <h2>מחירי הטיפולים הרפואיים</h2>
         
            אחרי שהמדרגים היו מרוצים יחסית מאיכות הטיפול הרפואי, כשמגיעים למחירים הציונים יורדים. במקום הראשון קופת חולים לאומית עם 3.78 בלבד, ובמקום האחרון קופת חולים מאוחדת עם 3.42. "כשמשלמים כל-כך הרבה ובסוף יש הנחה קטנה רק על רפואת שיניים, זה מתסכל" אמר אחד המדרגים. אחר אמר "מכבי שלי מקבלים הטבות בפער גבוה מדי ממכבי זהב, בצורה מגוחכת. לדוגמא מרפאת טיולים – חיסון קדחת מוח יפנית עולה למבוטח מכבי זהב 1000 ש"ח, ולמכבי שלי – 20 ש"ח. אם רוצים לעבור למכבי שלי יש תקופת המתנה של חצי שנה ככה שחייבים לחכות או לשלם. זה כל-כך מגוחך".
        <h3>תרשים: דירוג מחירי הטיפולים - מידרג קופות החולים</h3>
         <div class="img">
          <img src="assets/imges/Prices of medical treatments.png " height="700px" width="700px" title="מחירי הטיפולים הרפואיים">    
        </div>
        <h2>שירותים אונליין</h2>
            מצאנו את נקודות החוזק של קופות החולים בארץ: שירותי אונליין! פרמטר זה קיבל את הציונים הגבוהים ביותר במידרג, כשמכבי מקבלת את הציון הגבוה ביותר במידרג כולו – 4.15. גם הציון של מאוחדת הנמצאת במקום האחרון בנושא אינו נמוך – 3.84.
            
            אלו בדיוק המקומות בהן נבחנות הקופות האם הן משתמשות במשאבים שהן מקבלות מן המדינה באופן היעיל והמועיל ביותר בשביל חבריה. כפי שניתן לראות, קופות שעושות את המיטב מקבלות את הפרגון הראוי מהמטופלים, כי מי לא רוצה לקבל אישורי מחלה ומרשמים אונליין?
            
            אנחנו מציעים לקופות להמשיך ולהשתפר בנושא, שיקל מאוד על כל המערכת הבירוקרטית, הן מצד המטופלים והן מצד הצוות האדמיניסטרטיבי.
<h3>תרשים: דירוג שירותי אונליין - מידרג קופות החולים</h3> 
<div class="img">
    <img src="assets/imges/Services online.png " height="700px" width="700px" title="שרותים זמינים">    
  </div>
  <h2>מענה מחוץ לשעות הפעילות</h2>
      "אתה צריך להיות חולה בשעות שהם פתוחים. אני משלם הרבה כסף על בריאות ולא מקבל מענה 24\7 כי יש שבת ואחרי חמש בערב לך תחפש". צרכים רפואיים לצערנו הם דבר שלא עובד לפי ימי עסקים, וכנראה כמעט כל אחד ימצא את עצמו פעם בחיים במצוקה רפואית שלא בזמן שעות העבודה. שירותים כמו מוקדי אחיות 24/7 ומענה רופאים אונליין הם קריטיים ברגעים כאלה, כי כמו שאמר האנונימי למעלה אמר – אי אפשר להיות חולים רק כשהמרפאה פתוחה.
      
      בפרמטר זה קיבלה מכבי את הציון הגבוה ביותר – 3.62 ומאוחדת קיבלה את הציון הנמוך מאוד – 2.82. מאוחדת צריכה להתעורר ולהדביק את חברותיה בשירות קריטי כזה, המטופלים בהחלט מרגישים בחוסר.
   <h3>תרשים: דירוג מענה מחוץ לשעות הפעילות - דירוג קופות החולים</h3>
   <div class="img">
      <img src="assets/imges/Telephone answering and bureaucracy.png " height="700px" width="700px" title="מענה מחוץ לשעות הפעילות">    
    </div>
    
       <h2>מעבר בין קופות חולים</h2>
        רק כ5.09% מהמדרגים אמרו כי הם עברו קופת חולים בשלוש השנים האחרונות. מעבר בין קופות חולים הוא לא נפוץ, ואולי חבל שכך. אם היינו מראים את חוסר שביעות הרצון שלנו גם במעבר בין קופות, אולי היו הקופות כנראה מתאמצות יותר לרצות אותנו. אבל היי, בדיוק כדי שתדעו מה מצבה של כל קופה ולאן כדאי לעבור אנחנו עושים מידרגים כאלה מחייך
        
        למה עבר מי שכן עבר? כ55.9% מאלה שעברו קופה בשלוש השנים האחרונות עשו זאת בגלל שהם לא היו מרוצים מזמינות התורים. בהתחשב בתוצאות שכבר סקרנו, הפתעה זו בהחלט לא. זמינות התורים עולה שוב ושוב כבעיה החמורה ביותר של קופות החולים בארץ.
 </div>