.example-card {
    width: 30vh;
    float: right;
    margin: 35px;
    display: table;
    display: table-cell;
    border: 2px solid;
    border-color: rgb(217, 48, 96);
    padding: 20px;
    width: 250px;
    height:317px;
    margin: 40px;
    text-align:center;
    display: grid;
}
 // width: 30vh;
    // float:right;
    // margin:35px;
    // padding: 29px;
 

  // margin: 68px;
  //   .example-card[_ngcontent-eus-c8] {
  //     width: 30vh;
  //     float: right;
  //     margin: 35px;
  //     display: table;
  //     display: table-cell;
  //     border: 1px solid black;
  //     width: 25%;
  //     padding: 10px;
  //     width: 162px;
  //     height: 142px;
  //     margin: 68px;
  // }
 
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    height: 5px;
    width: 5px;

  }  
  .example-header-image{
    font-size: x-large;
    color: rgb(217, 48, 96);
    font-weight: bold;
  }
  .img{
    width: 20px;
    height: 20px;
  }
  .mat-card-image {
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px;
    width: 139px;
    margin-top: 83%;
    margin-left: -1%;
  }
  .mat-card-actions, .mat-card-content, .mat-card-subtitle {
    position: absolute;
    margin-top: 67%;
    margin: 26px;
    font-size: large;
  }