.productView{
  padding-top: 100px;
}
table {
    width: 100%;
  }

  td{
    text-align: center;
  }
  th.mat-header-cell{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(217, 48, 96);
  }
  .tbl{
    margin-top: 7%;
  }
  tr,td{
    font-family: Calibri;
    font-size: large;
  }
  #description
  {
  text-align: center;
  font-family: Calibri;
  border: solid;

}
// img mat-card-image{
// width: 25%;

// }
#mat-img{
  img{
    max-width: 100%;
    height: auto;
  }
}
.footer[_ngcontent-qqf-c12]{  
  color: blacks;
  height: 80px;
  width: 100%;
  font-size: larger;
}

