
<form>
    <h1>product</h1>
    <div class="row">
      <mat-form-field class="example">
        <input type="text" matInput placeholder="שם" name="name" required [(ngModel)]="product.name">
      </mat-form-field>
    </div> 
    <div class="row">
      <mat-form-field class="example">
        <input type="text" matInput placeholder="תאור" name="description" required [(ngModel)]="product.description">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example">
        <input type="text" matInput placeholder="מחיר" name="price" required [(ngModel)]="product.price">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example">
        <input type="text" matInput placeholder="ביטוח" name="insurance" required [(ngModel)]="product.insurance">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example">
        <input type="text" matInput placeholder="קטגוריית אב" name="parentCategory" required [(ngModel)]="product.parentCategory">
        {{product.categoryId}}
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>קופת חולים</mat-label>
         <mat-select [(ngModel)]="product.hmo" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let hmo of hmos" [value]="product.hmoId">
            {{hmo.hmoName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  <button (click)="save()">save</button>
  <button (click)="deleteProduct()">למחיקת מוצר</button>
  </form>
