<!-- <nav class="navbar navbar-dark bg-primary">
  <nav class="navbar navbar-default">
    <a routerLink="/main" routerLinkActive="active" >ראשי</a>
    <a routerLink="/login" routerLinkActive="active">
      התחברות</a>
    <a routerLink="/search" routerLinkActive="active">
      חיפוש</a>
      <a routerLink="/categories" routerLinkActive="active"></a>
  </nav>
</nav> -->
   
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="menu">
    <div class="container-fluid" id="header_items">
		<!-- <div class="navbar-header"> -->
        <div class="imgLogo">
            <img src="assets/imges/logo with a small change.png " height="120px" width="170px">    
          </div>
          <ul id="navber_wrap">
        <li><a routerLink="/login" routerLinkActive="active" >
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          התחברות
        </a></li>
        <li><a routerLink="/categories" routerLinkActive="active">
          <i class="fa fa-search" aria-hidden="true"></i>
          חיפוש מוצר</a></li>
        <li><a routerLink="/about" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span>אודות</a></li>
        <li><a routerLink="/hierarchy" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span>דרוגים בשטח</a></li>
        <li><a routerLink="/main" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span>ראשי</a></li>
        <!-- <a routerLink="/categories" routerLinkActive="active"></a> -->
			</ul>
	</div>
</div>
