<form *ngIf="price && id"> 
    <div class="editPrice">
 
    <h1> ההשואה למוצר {{price.productName}} </h1>
    <div class="row">
      <mat-form-field class="example">
        <input type="text" matInput placeholder="מחיר מוצר" name="priceText" required [(ngModel)]="price.priceText">
      </mat-form-field>
    </div> 

    <!-- <div class="row">
      <mat-form-field class="example">
        <input type="text" matInput placeholder="מוצר" name="product" required [(ngModel)]="price.productName">
      </mat-form-field>
    </div> -->

    <div class="row">
      <mat-form-field class="example">
        <input type="text" matInput placeholder="הנחה" name="discount" required [(ngModel)]="price.discount">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="example">
        <input type="text" matInput placeholder="גיל" name="rangeAge" required [(ngModel)]="price.ageRange">
      </mat-form-field>
    </div>
    <b style="font-size: medium">ביטוח {{price.insuranceName}}</b>
 
    <!-- <div class="row">
      <mat-form-field class="example">
        <input type="text" matInput placeholder="ביטוח" name="insurance" required [(ngModel)]="price.insuranceName">
      </mat-form-field>
    </div> -->

    <div class="example-button-row">
      <button   class="button" (click)= "update(price)">עדכון</button>
      <button   class="button" (click)="deletePrice()">מחיקה</button>
      <!-- <button mat-fab color="primary" (click)="changeStatus()">+</button> -->
    </div>
  

    <!-- <div class="confirmClerk">
    <button (click)="save(clerk)">אישור</button>
  </div> -->
    <!-- <button type="submit">save</button> -->
    <!-- <div class="example-button-row"> -->
      <!-- <button mat-fab color="primary" (click)= "update(clerk)">update</button>
      <button mat-fab color="primary" (click)="deleteClerk()">-</button> -->
      <!-- <button mat-fab color="primary" (click)="changeStatus()">+</button> -->
    <!-- </div> -->
  </div>
  </form>
  
