.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.complex{
  display: inline-block;
}

// .search-div{
//   width: 250px; 
//     height: 100%;
// }
.products-list{
  width:calc(100% - 250px);
  float: right;
  height: 100%;
}
.searchButton{
  text-align: center;

}
button{
  background-color: rgb(217, 48, 96);
}
.simpleSearch{
  padding: 5px;
  width: 10%;
  margin-left: 50%;

}
.complexSearch{
  padding: 10px;
}
.tree{
  float: right;
  direction: rtl;
  margin-right: 5px;
}