<form>
    <div>
        <button (click)="searchVal='tree'">חיפוש קל</button>
        <button (click)="searchVal='search'">חיפוש מורכב</button>
    </div>
    <app-category-tree [hidden]="searchVal!='tree'" (nodeClicked)="logNode($event)"></app-category-tree>
    <div *ngIf="searchVal=='search'">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="קטגוריה" aria-label="Number" matInput [formControl]="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="onSelectedOption($event)">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.categoryName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div class="row">
        <mat-form-field class="example">
            <input type="text" matInput placeholder="מוצר" name="product" required [(ngModel)]="product.name">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="example">
            <input type="number" matInput placeholder="גיל" name="age" required>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field>
          <mat-label>קופת חולים</mat-label>
           <mat-select [(ngModel)]="clerk.hmoId" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let hmo of hmos" [value]="hmo.hmoName">
              {{hmo.hmoName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    <button>search</button>
    <app-category-details *ngIf="searchVal=='tree'" #categoryDetails></app-category-details>
    <div *ngIf="searchVal=='search'">
        <!-- <app-product-card *ngFor="let product of ProductsList" [(product)]="product"></app-product-card> -->
    </div>
</form>