.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.products-list{
  width:calc(100% - 250px);
  float: right;
  height: 100%;
}
.searchButton{
  text-align: center;
}
button{
  background-color: #25437e;
  height: 40px;
  width: 90px;
  border-color: #b11047;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px black;
  display: inline-block ;
  font-size: medium;
  color: white;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  direction: rtl;
}
.simpleSearch{
  display: inline-block;
  padding: 10px;

}
.complexSearch{
  display: inline-block;
  padding: 10px;
}
.tree{
  float: right;
  direction: rtl;
  margin-right: 8px;
  font-size: medium;
  color:#25437e;
}
input,select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  height: 50px;
  color:#25437e;
 // color: white;
}
.search-div{
direction: rtl;
margin-right: 80px;
padding-bottom: 50px;

}
