<div class="tbl"><!-- <p>{{categories.categoryName}}</p>  -->
<table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z9">

<div class="comperationTbl">

    <ng-container matColumnDef="HmoName">

        <th mat-header-cell *matHeaderCellDef>קופת חולים </th>
        <td mat-cell *matCellDef="let element"> {{element.HmoName}}</td>
        
      </ng-container>
    <!-- adress Column -->
    <ng-container matColumnDef="InsuranceName">
      <th mat-header-cell *matHeaderCellDef> ביטוח </th>
      <td mat-cell *matCellDef="let element"> {{element.InsuranceName}} </td>
    </ng-container> 
    
        <ng-container matColumnDef="InsurancePrice">
      <th mat-header-cell *matHeaderCellDef> מחיר ביטוח </th>
      <td mat-cell *matCellDef="let element">  {{element.InsurancePrice}} ש"ח</td>
    </ng-container> 

    <ng-container matColumnDef="Age">
        <th mat-header-cell *matHeaderCellDef> גיל </th>
        <td mat-cell *matCellDef="let element"> {{element.AgeBegin}}-{{element.AgeEnd}} </td>
      </ng-container> 

    <ng-container matColumnDef="Discount">
        <th mat-header-cell *matHeaderCellDef> הנחה </th>
        <td mat-cell *matCellDef="let element"> {{element.Discount}} </td>
      </ng-container> 
  
    <ng-container matColumnDef="PriceText">
        <th mat-header-cell *matHeaderCellDef> מחיר </th>
        <td mat-cell *matCellDef="let element"> {{element.PriceText}} </td>
      </ng-container> 

                <!-- hmo Column -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editDetails(row)" >
    </tr> 
  </div>

  </table></div>