<h1>manager-options</h1>
 
  <!-- <button (click)="rout_clerck()">aaa</button> -->
  <!-- <a routerLink="/clerk-table" routerLinkActive="active">clerk</a> -->
  <!-- <a routerLink="/addClerck" routerLinkActive="active">category</a> -->
 <!-- <button (click)="rout_clerck()">cfebkjcds,jc</button>  -->
 <div>
 <a routerLink="/table" routerLinkActive="active">לעריכת פקיד</a>
</div>
<div>
 <a routerLink="/categoryTable" routerLinkActive="active"> בקשות מפקידים</a>
</div>
 
<router-outlet></router-outlet>