<div class="manager"  *ngIf="currentManager">
    <h1 >! ברוכים הבאים למנהל {{currentManager}}<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
    </head>
    <body>
      
    </body>
    </html></h1>
    <!-- <td mat-cell *matCellDef="let element"> {{element.userName}} </td> -->
    <div>
        <a routerLink="/table" routerLinkActive="active">לעריכת פקיד</a>
       </div>
       <div>
        <a routerLink="/categoryTable" routerLinkActive="active"> בקשות מפקידים</a>
       </div>
       
</div>

 
  <!-- <button (click)="rout_clerck()">aaa</button> -->
  <!-- <a routerLink="/clerk-table" routerLinkActive="active">clerk</a> -->
  <!-- <a routerLink="/addClerck" routerLinkActive="active">category</a> -->
 <!-- <button (click)="rout_clerck()">cfebkjcds,jc</button>  -->

 
<router-outlet></router-outlet>