<form  class="line" (ngSubmit)="addCategory()">
  <h1 alt="">להוספת קטגוריה</h1>
  <div>
       <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="שם"
           name="Name" required minlength="2" maxlength="30" [(ngModel)]="Category.categoryName">
      </mat-form-field>
      <!-- <div *ngIf="name.errors?.required">
          Name is required.
        </div>
      <div [hidden]="name.valid||name.pristine" class="alert alert-danger">
        name is required
      </div>  -->
  </div>

  <!-- <div class="example-full-width">
      <mat-form-field>
          <mat-label>קטגוריית אב</mat-label>
          <mat-select [(ngModel)]="Category.parentCategory" [ngModelOptions]="{standalone: true}" aria-required="true">
            <mat-option *ngFor="let category of categoriesList" [value]="category.categoryId">
              {{category.categoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div> -->
 

  <button class="btn" type="submit">אישור</button>
  <!-- <button>ביטול</button> -->
  <!-- <button type="submit" (click)="confirmClerk()">שלח</button> -->
</form> 
<!-- *ngIf="isAdmin=='1'" -->
<!-- (disabled)="isAdmin=='1'" -->
 
 
 
 