<div class="categoryDetails" *ngIf="selectedCategory">
  <h1>{{selectedCategory.Name}}</h1>
  <div class="btn">
  <button (click)="addCategory()" >הוסף קטגוריה</button>
  <button (click)="addProduct()">להוספת מוצר</button> 
  </div>
  <div>
  <app-product-card *ngFor="let product of selectedCategory.ProductsList" [(product)]="product"></app-product-card>
 </div>
  <!-- <div *ngFor="let prod of selectedCategory.productList">
    {{prod.name}}  <button (click)="deleteProduct(prod)">למחיקת מוצר</button>
  </div> -->
 
</div>

