.example-button-row button,
.example-button-row a {
  margin-right: 15px;
}
.editClerk{
  direction: rtl;
margin: 25px;
}
input.mat-input-element {
  margin-top: -.0625em;
  text-align: center;
  direction: rtl;
}
.confirmClerk{
margin-right: 10px ;
}
.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
  font-size: large;
  direction: rtl;
  text-align: justify;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .4375em 0;
  margin: 5%;
  direction: rtl;
  font-size: larger;
}
.row{
  font-size:larger ;
  direction: rtl;
}
.example{
  direction: rtl;
}
.btn{
  background-color: #25437e;
  height: 40px;
  width: 90px;
  border-color: #b11047;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px black;
  display: inline-block ;
  font-size: medium;
  color: black;
  direction: rtl;
}