<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column
 <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>  -->

  <!-- status Column -->
  <ng-container matColumnDef="requestStatus">
    <th mat-header-cell *matHeaderCellDef>סטטוס בקשה</th>
    <td mat-cell *matCellDef="let element"> {{element.requestStatus==0?'לא מאושר':'מאושר'}} </td>
  </ng-container>
 
  <!-- requestkind Column -->
  <ng-container matColumnDef="requestKind">
    <th mat-header-cell *matHeaderCellDef>סוג בקשה</th>
    <td mat-cell *matCellDef="let element"> {{element.requestKind==1?'הוספה':(element.requestKind==2?'מחיקה':'עדכון')}}</td>
  </ng-container>  
  <!-- <td mat-cell *matCellDef="let element"> {{element.requestKind==1:'מחיקה':2,'עדכון' :3, :'הוספה'}</td> -->

  <!-- categoryName Column -->
   <ng-container matColumnDef="categoryName">
    <th mat-header-cell *matHeaderCellDef>קטגוריה</th>
    <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
  </ng-container>
     <!-- isConfirm Column -->
     <!-- <ng-container matColumnDef="isConfirm">
      <th mat-header-cell *matHeaderCellDef> is confirm </th>
      <td  mat-cell *matCellDef="let element"> {{element.isConfirm}} </td>
    </ng-container> -->

  <!-- telephone Column -->
   
  <!-- <ng-container matColumnDef="telephone">
    <th mat-header-cell *matHeaderCellDef> telephone </th>
    <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
  </ng-container>  -->
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editRequest(row)">
  </tr> 
</table>